<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>My first Bootstrap-Vue app</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>

  <body>
    <!-- Our application root element -->
   
    <div id="app">
        
      <b-container fluid>
          <b-row> 
        <b-jumbotron header="Sharing Tastes"
                     lead="Cultural exchange between hosts and refugees">
          
          <b-btn variant="primary" href="https://bootstrap-vue.js.org/">More Info</b-btn>
        </b-jumbotron>
    </b-row>      
    <b-row> 
        
        <b-row align-v="start">
        <b-col>Items</b-col>
        <ul>
      <li v-for="value in items">
        {{value}}
            </li>    </ul>
        <b-col>People</b-col>
        <ul>
          <li v-for="value in friends">
        {{value}}
      </li>
            </ul>
    </b-row>
        
        
      
    

        
    </b-row>      
    
        </b-container>
    
</div>
        
  
        


    <!-- Start running your app -->




<script>
//https://api.myjson.com/bins/1gkt73  items and names json
// https://api.myjson.com/bins/zrwvv  names    
const app =new Vue({
    
  el: '#app',
  data: {
    items: [],
    friends: []  
  },
  created () {
    fetch("https://api.myjson.com/bins/1gkt73")
    .then(response=>response.json())
    .then(json=>{this.items=json.items;this.friends=json.friends}
    //.then(json=>{this.friends=json.friends})
      );
    }
    
  }
)

</script>
</body>
</html>
    

<!--<div id="app">
  <ul>
      <li v-for="value in items">
        {{value}}
      </li>
      
      <li v-for="value in friends">
        {{value}}
      </li>
    </ul>
    
    
    
</div>

<div>
  <b-card title="Card Title"
          img-src="https://lorempixel.com/600/300/food/5/"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>
</div>

<script src="https://unpkg.com/vue"></script>

<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
//https://api.myjson.com/bins/1gkt73  items and names json
// https://api.myjson.com/bins/zrwvv  names    
const app =new Vue({
    
  el: '#app',
  data: {
    items: [],
    friends: []  
  },
  created () {
    fetch("https://api.myjson.com/bins/1gkt73")
    .then(response=>response.json())
    .then(json=>{this.items=json.items;this.friends=json.friends})
    //.then(json=>{this.friends=json.friends})
    }
    
  }
)
</script> -->